@model Front.Models.SubmitModel
@{
    ViewData["Title"] = "Create";
}
<h1>Menu Principal</h1>
<div>
    <a asp-action="ObtenerChats" class="btn" >Acceder a tus chats</a>
</div>
<div>
    <a asp-action="VistaLlenarLista" class="btn">Acceder a tus Contactos</a>
</div>


